{% for message in messages %}
    {% set isSender = message.sender_id == app.user.id %}
    <div class="d-flex mb-1 {{ isSender ? 'justify-content-end text-end' : '' }}">
        {% if not isSender %}
            <div class="flex-shrink-0 avatar avatar-xs me-2">
                <img class="avatar-img rounded-circle" src="{{ asset('assets/images/avatar/placeholder.jpg') }}" alt="">
            </div>
        {% endif %}
        <div class="flex-grow-1">
            <div class="w-100">
                <div class="d-flex flex-column {{ isSender ? 'align-items-end' : 'align-items-start' }}">
                    <div class="p-2 px-3 rounded-2 {{ isSender ? 'bg-primary text-white' : 'bg-light text-secondary' }}">
                        {{ message.content }}
                    </div>
                    <div class="small my-2">{{ message.date|date('H:i') }}</div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
